{{ define "chat" }}

{{ template "header" }}

<body>
<div class="container">
    <h3 class=" text-center"></h3>
    <div class="messaging">
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="headind_srch">
                    <div class="recent_heading">
                        <h4>Последние </h4>
                    </div>
                    <div class="srch_bar">
                        <div class="stylish-input-group">
                            <input type="text" class="search-bar"  placeholder="Поиск" >
                            <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                </span> </div>
                    </div>
                </div>
                <div class="inbox_chat">
                    <div class="chat_list active_chat">
                        <div class="chat_people">
                            <div class="chat_img"> <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="sunil"> </div>
                            <div class="chat_ib">
                                <h5>Amogus <span class="chat_date">14.05</span></h5>
                                <p>Я был импостером.</p>
                            </div>
                        </div>
                    </div>
                    <div class="chat_list">
                        <div class="chat_people">
                            <div class="chat_img"> <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="sunil"> </div>
                            <div class="chat_ib">
                                <h5> Люблю мэмы <span class="chat_date">02.03</span></h5>
                                <p>Мемы такие смешные, я не могу</p>
                            </div>
                        </div>
                    </div>
                    <div class="chat_list">
                        <div class="chat_people">
                            <div class="chat_img"> <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="sunil"> </div>
                            <div class="chat_ib">
                                <h5>Рахат Лукум <span class="chat_date">01.03</span></h5>
                                <p>Как же я обожаю сладкое!.</p>
                            </div>
                        </div>
                    </div>
                    <div class="chat_list">
                        <div class="chat_people">
                            <div class="chat_img"> <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="sunil"> </div>
                            <div class="chat_ib">
                                <h5>Лиза Петрова <span class="chat_date">05.02</span></h5>
                                <p>Где моя гитара??</p>
                            </div>
                        </div>
                    </div>
                    <div class="chat_list">
                        <div class="chat_people">
                            <div class="chat_img"> <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="sunil"> </div>
                            <div class="chat_ib">
                                <h5>Cruelty_Member <span class="chat_date">03.02</span></h5>
                                <p>Ты тоже любишь ретро игры? Как круто!</p>
                            </div>
                        </div>
                    </div>
                    <div class="chat_list">
                        <div class="chat_people">
                            <div class="chat_img"> <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="sunil"> </div>
                            <div class="chat_ib">
                                <h5>У меня кончается фантазия для имён <span class="chat_date">01.02</span></h5>
                                <p>Помогите.</p>
                            </div>
                        </div>
                    </div>
                    <div class="chat_list">
                        <div class="chat_people">
                            <div class="chat_img"> <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="sunil"> </div>
                            <div class="chat_ib">
                                <h5>Слава богу, это последний ник <span class="chat_date">31.32</span></h5>
                                <p>Как же я люблю программирование! Убейте меня.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mesgs">
                <div class="msg_history">
                    <div class="incoming_msg">
                        <div class="incoming_msg_img"> <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="sunil"> </div>
                        <div class="received_msg">
                            <div class="received_withd_msg">
                                <p>Проверка отправки сообщений</p>
                                <span class="time_date"> </span></div>
                        </div>
                    </div>
                    <div class="outgoing_msg">
                        <div class="sent_msg">
                            <p>Проверка ответа</p>
                            <span class="time_date"></span> </div>
                    </div>
                    <div class="incoming_msg">
                        <div class="incoming_msg_img"> <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="sunil"> </div>
                        <div class="received_msg">
                            <div class="received_withd_msg">
                                <p>Проверка даты</p>
                                <span class="time_date"> 1922640    |    1852022 </span></div>
                        </div>
                    </div>
                    <div class="outgoing_msg">
                        <div class="sent_msg">
                            <p>Офигенное время. Я утром примерно также вижу время на своих часах</p>
                            <span class="time_date"> 1924670    |    1852022</span> </div>
                    </div>
                    <div class="incoming_msg">
                        <div class="incoming_msg_img"> <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="sunil"> </div>
                        <div class="received_msg">
                            <div class="received_withd_msg">
                                <p>Я починил время! Ура! Теперь понятно когда сообщение отправляется!.</p>
                                <span class="time_date"> 16:08    |    19.05.22</span></div>
                        </div>
                    </div>
                </div>
                <div class="type_msg">
                    <div class="input_msg_write">
                        <input type="text" class="write_msg" placeholder="Введите сообщение" />
                        <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>

{{ end }}