{{ define "login" }}

{{ template "header" }}

<section class="w-100 p-4 d-flex justify-content-center pb-4">
    <form action="/auth">
        <div class="form-group" style="padding-bottom: 10px">
            <label for="login">Логин</label>
            <input type="text" class="form-control" name="login" id="login" aria-describedby="emailHelp" placeholder="Введите Логин">
        </div>
        <div class="form-group" style="padding-bottom: 10px">
            <label for="password">Пароль</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Введите пароль">
        </div>
        <button type="submit" class="btn btn-primary" style="background-color: orange; margin-left: 60px">Войти</button>
    </form>
</section>

{{ end }}
